/* className="vertical-timeline-element-subtitle" style={{color:"rgb(16, 204, 82)",fontSize :15}} */

.ed{
    text-align: center;
    margin-top: 13rem;
    /* padding-bottom: 3rem; */
    padding: 3rem;
    color: #6495ED;
}